Source: librime
Section: libs
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Uploaders:
 Qijiang Fan <fqj1994@gmail.com>,
 Aron Xu <aron@debian.org>,
 YunQiang Su <syq@debian.org>,
 Osamu Aoki <osamu@debian.org>,
 Guo Yixuan (郭溢譞) <culu.gyx@gmail.com>,
 Boyuan Yang <byang@debian.org>,
Build-Depends: dpkg-dev (>= 1.22.5),
 capnproto,
 cmake (>= 3.12),
 darts,
 debhelper-compat (= 13),
 googletest <!nocheck>,
 libboost-dev,
 libboost-locale-dev,
 libboost-regex-dev,
 libcapnp-dev,
 libgoogle-glog-dev,
 libleveldb-dev,
 liblua5.4-dev,
 libmarisa-dev (>> 0.3),
 libopencc-dev (>= 1.1.9+ds1-3~),
 libutfcpp-dev (>= 3.2.4),
 libxcb-keysyms1-dev,
 libyaml-cpp-dev (>= 0.6.3-7~),
 pkgconf,
 x11proto-core-dev,
 zlib1g-dev,
Standards-Version: 4.7.3
Homepage: https://github.com/rime/librime
Vcs-Git: https://salsa.debian.org/input-method-team/librime.git
Vcs-Browser: https://salsa.debian.org/input-method-team/librime
Description: Rime Input Method Engine
 RIME is the acronym of Rime Input Method Engine.
 .
 RIME is a lightweight, extensible input method engine supporting various input
 schematas including glyph-based input methods, romanization-based input methods
 as well as those for Chinese dialects. It has the ability to compose phrases
 and sentences intelligently and provide very accurate traditional Chinese
 output. RIME's cross-platform core library is written in C++, and can work
 consistently on different platforms with OS-specific wrappers.

Package: librime-bin
Architecture: any
Section: utils
Depends:
 librime1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 librime-data (>= 0.38),
Description: ${source:Synopsis} - utilities
 ${source:Extended-Description}
 .
 This package provides the executable utilities of RIME.

Package: librime-dev
Architecture: any
Section: libdevel
Depends:
 librime1,
 ${misc:Depends},
Provides:
 librime1-dev,
Conflicts:
 librime1-dev,
Replaces:
 librime1-dev,
Description: ${source:Synopsis}, the core library - development files
 ${source:Extended-Description}
 .
 This package provides the development files of RIME.

Package: librime-plugin-charcode
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Homepage: https://github.com/rime/librime-charcode
Description: ${source:Synopsis} - charcode plugin
 ${source:Extended-Description}
 .
 This package provides charcode plugin for RIME. It can be used for codepoint
 translation and charset filtering.

Package: librime-plugin-lua
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Homepage: https://github.com/hchunhui/librime-lua
Description: ${source:Synopsis} - Lua extension plugin
 ${source:Extended-Description}
 .
 This package provides Lua extension plugin for RIME with the following
 features:
 .
   * Supports extending RIME processors, segmentors, translators and filters
   * Provides high-level programming model for translators and filters
   * Loaded dynamically as a librime plugin

Package: librime-plugin-octagram
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Homepage: https://github.com/lotem/librime-octagram
Description: ${source:Synopsis} - octagram plugin
 ${source:Extended-Description}
 .
 This package provides octagram plugin for RIME. It provides extra functionality
 in grammar checking.

Package: librime1
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: same
Recommends:
 librime-bin,
 librime-data (>= 0.38),
 librime-plugin-charcode,
 librime-plugin-lua,
 librime-plugin-octagram,
Description: ${source:Synopsis} - core library
 ${source:Extended-Description}
 .
 This package provides the core library of RIME.
